
body {
	font-family: 'Josefin Sans', sans-serif; 
	font-size: 17px;
}

p {
	font-family: 'Josefin Sans', sans-serif; 
}

h3 {
	font-family: 'Josefin Sans', sans-serif;
	font-weight: 600;
}

.spacer {
	height: 80px;
}

.navbar-custom {
  background-color: rgba(0, 0, 0, 0.7);
  border-color: #676767;
}

.navbar-custom .navbar-brand,
.navbar-custom .navbar-nav > li > a {
  color: #ffffff;
  line-height: 30px;
}

.navbar-custom .navbar-nav > li > a:hover,
.navbar-custom .navbar-nav > li > a:active,
.navbar-custom .navbar-nav > li > a:focus,
.navbar-custom .navbar-nav > .open > a,
.navbar-custom .navbar-nav > .open > a:hover,
.navbar-custom .navbar-nav > .open > a:focus {
  color: #aaaaaa;
  background-color: rgba(0, 0, 0, 0.3);
}

.navbar-custom .navbar-brand:hover,
.navbar-custom .navbar-brand:active,
.navbar-custom .navbar-brand:focus,{
  color: #aaaaaa;
}

.navbar-custom .navbar-brand {
	font-family: 'Economica', sans-serif;
}

.dropdown-menu {
	background-color: rgba(255,255,255, 0.8);
}

.navbar-form {
	margin-top: 13px;
	margin-bottom: 13px;
}

.dropdown-menu>li>a {
  color: #000000;
  text-shadow: 1px 1px 5px rgba(255,255,255, 0.5);
  font-weight: 600;
  font-size: 14px;
}

.dropdown-menu>li>a:hover {
	background-color: rgba(0,0,0, 0.8);
	text-shadow: 0px 0px 0px rgba(255,255,255, 0);
	color: #efefef;	
}

.header {
	background-image: url(../image/fond2.jpg);
	background-size: cover;
	height: 655px;
}


.logo {
	padding-top: 190px;
	color: #ffffff;
}

.logo h1 {
	font-family: 'Fredericka the Great', cursive;
	font-size: 80px;
	text-shadow: 1px 1px 5px rgba(0,0,0, 1);
}

.logo h2 {
	font-family: 'Economica', sans-serif;
	font-size: 50px;
}

#logo-img {
	width:200px;
}

#footer {
	padding: 50px 0;
	background-color: #111111;
	color: #aaaaaa;
}

#footer a {
	color: #aaaaaa;
	font-size: 24px;
}

#footer a:hover {
	color: #dddddd;
}

.information:hover {

}

.icon {
	width:70px;
	border:1px solid #ececec;
	padding:10px;
	margin-bottom: 2em;
}

